// Font
$font-serif: 'Times', 'Times new roman', serif;
$font-ss: 'Arial', 'Helvetica', sans-serif;

// Color

$primary-pink: #CA2D53;
$primary-pink-light: #C92D53;
$primary-blue: #3987A2;
$primary-blue-light: #46A5C4;


// Breakpoint
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;
